body {
  background:black; 
  color:lightgray;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

navbar-center {
  width: 100%; 
  text-align: center;
}

h1, h2, h3, h4 {
  color: #aadd99;
}